<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.eng.avpv"
        version   = "1.0.0">

    <name>English</name>

    <description>
        Hello World sample application that responds to the deviceready event.
    </description>

    <author href="http://phonegap.com" email="yogeshkhanara@gmail.com">
        yogesh
    </author>
            <icon src="res/icon.png" />
          <splash src="splash.png" />


   <content src="index.html"></content>

    <!--
        If you do not want any permissions to be added to your app, add the
        following tag to your config.xml; you will still have the INTERNET
        permission on your app, which PhoneGap requires.
    <preference name="permissions"                value="none"/>
    -->
        
</widget>

  
